[alias]
    subcommit = "!if [ -d .git ]; then CMD=git; else CMD=yadm; fi; $CMD submodule status | while read REPO; do if [ ${REPO:0:1} = + ]; then $CMD add $(awk '{print $2;}' <<< $REPO); awk '{printf \"%s \", $2}' <<< $REPO; $CMD commit -m $(awk '{print substr($1,2);}' <<< $REPO); fi; done"
    subupdate = "!if [ -d .git ]; then CMD=git; else CMD=yadm; fi; $CMD submodule update --remote"
[commit]
  gpgSign = True
[credential "https://git.overleaf.com"]
	username = sheatsley@wisc.edu
    helper = "!f() { bw login --check &> /dev/null; if [ ! $? -eq 0 ]; then export BW_SESSION=$(bw login --raw --method 3 </dev/tty); fi; echo \"password=$(bw get --session $BW_SESSION password overleaf.com)\"; }; f"
[pull]
	rebase = true
[rebase]
	autoStash = true
[url "https://github.com/"]
  insteadOf = gh:
[user]
  name = Ryan Sheatsley
  email = ryan@sheatsley.me
  signingkey = AF5888815A509644
