[alias]
    subcommit = "!git add $(git submodule status | awk '{print $2;}') && git commit -m $(git submodule status | awk '{print substr($1,2);}')" 
[commit]
  gpgSign = True
[credential "https://git.overleaf.com"]
    username = sheatsley@psu.edu
    helper = "!f() { if [ \"$1\" = get ]; then lpass ls >/dev/null 2>&1 || (read -p \"Lastpass username: \" USERNAME </dev/tty >/dev/tty; lpass login --trust $USERNAME </dev/tty >/dev/tty); echo \"password=$(lpass show -p Overleaf)\"; fi }; f"
[pull]
	rebase = true
[rebase]
	autoStash = true
[url "https://github.com/"]
  insteadOf = gh:
[user]
  name = Ryan Sheatsley
  email = ryan@sheatsley.me
  signingkey = AF5888815A509644
