<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.76904EC9-CAF8-4A03-B8B5-4D32B92663B0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>North Woods Experts</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>76904EC9-CAF8-4A03-B8B5-4D32B92663B0</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>display</key>
		<string>standalone</string>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>16x16</string>
				<key>src</key>
				<string>//ssl.gstatic.com/dynamite/images/favicons_202402151144/chat-favicon-no-new-16dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>24x24</string>
				<key>src</key>
				<string>//ssl.gstatic.com/dynamite/images/favicons_202402151144/chat-favicon-no-new-24dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>32x32</string>
				<key>src</key>
				<string>//ssl.gstatic.com/dynamite/images/favicons_202402151144/chat-favicon-no-new-32dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>48x48</string>
				<key>src</key>
				<string>//ssl.gstatic.com/dynamite/images/favicons_202402151144/chat-favicon-no-new-48dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>64x64</string>
				<key>src</key>
				<string>//ssl.gstatic.com/dynamite/images/favicons_202402151144/chat-favicon-no-new-64dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>256x256</string>
				<key>src</key>
				<string>//ssl.gstatic.com/dynamite/images/favicons_202402151144/chat-favicon-no-new-256dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>Google Chat</string>
		<key>related_applications</key>
		<array/>
		<key>scope</key>
		<string>/chat/</string>
		<key>short_name</key>
		<string>North Woods Experts</string>
		<key>shortcuts</key>
		<array/>
		<key>start_url</key>
		<string>https://mail.google.com/chat/</string>
		<key>theme_color</key>
		<string>#E8EAED</string>
	</dict>
	<key>WKManifestURL</key>
	<string>https://mail.google.com/chat/u/0/manifest.json</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://mail.google.com/chat/</string>
	</dict>
</dict>
</plist>
