<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>1</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>system</string>
	<key>CPU_line_chart_frame</key>
	<false/>
	<key>CPU_line_chart_label</key>
	<false/>
	<key>CPU_line_chart_value</key>
	<false/>
	<key>CPU_line_chart_valueColor</key>
	<false/>
	<key>CPU_mini_color</key>
	<string>monochrome</string>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart,mini</string>
	<key>Disk_barChart_position</key>
	<integer>2</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>4</integer>
	<key>Disk_mini_position</key>
	<integer>0</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>3</integer>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string></string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va6ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAIABAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAACQAAAAEB
	AABzaGVhdHNsZXkAAAAJAAAAAQEAAERvd25sb2FkcwAAAAwAAAABBgAAEAAAACAAAAA0
	AAAACAAAAAQDAAAuSAAAAAAAAAgAAAAEAwAAFJAAAAAAAAAIAAAABAMAAEeQAAAAAAAA
	DAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHHwdEIgAAAGAAAAAECAAACAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
	AAAAJAAAAAEBAABDNEJFQ0M4Qi1DMDkyLTQ1MjktQkJFMi0zNTI0MzcxOTQ2MTUYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////AQAA
	AAAAAAARAAAABBAAAEgAAAAAAAAABRAAAIwAAAAAAAAAEBAAALAAAAAAAAAAQBAAAKAA
	AAAAAAAAAiAAAHQBAAAAAAAABSAAAPQAAAAAAAAAECAAAAQBAAAAAAAAESAAACgBAAAA
	AAAAEiAAABgBAAAAAAAAEyAAAKAAAAAAAAAAICAAAFQBAAAAAAAAMCAAANAAAAAAAAAA
	AcAAANgAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgAAAAAAAAAAdAAANAAAAAAAAAAENAA
	AAQAAAAAAAAA
	</data>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>1695 771 728 480 0 0 3840 1570 </string>
	<key>Network_base</key>
	<string>bit</string>
	<key>Network_label_position</key>
	<integer>2</integer>
	<key>Network_networkChart_position</key>
	<integer>1</integer>
	<key>Network_network_chart_box</key>
	<false/>
	<key>Network_network_chart_frame</key>
	<false/>
	<key>Network_oneView</key>
	<true/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>speed,network_chart</string>
	<key>RAM_barChart_position</key>
	<integer>3</integer>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>1</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_frame</key>
	<false/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_oneView</key>
	<true/>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>mini,line_chart</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>updater_check_ts</key>
	<integer>1775829865</integer>
	<key>version</key>
	<string>2.12.8</string>
</dict>
</plist>
